pkgbase = kwallet-git
	pkgdesc = KWallet Framework
	pkgver = 6.3.0.r1456.425cf15f
	pkgrel = 1
	url = https://projects.kde.org/projects/frameworks/kwallet
	arch = x86_64
	license = LGPL
	makedepends = extra-cmake-modules-git
	makedepends = git
	makedepends = python
	makedepends = boost
	makedepends = kdoctools-git
	depends = knotifications-git
	depends = kiconthemes-git
	depends = kservice-git
	depends = gpgme
	depends = qca-qt6
	provides = kwallet
	provides = kwallet5
	conflicts = kwallet
	conflicts = kwallet5
	source = git+https://github.com/KDE/kwallet.git
	md5sums = SKIP

pkgname = kwallet-git
